---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | PSYKHE">
  <div class="about-page-wrapper">
    <div class="psykhe-landing">
      <div class="about-wrapper">

        <div class="brand">
          <a href="/">PSYKHE AI</a>
        </div>


        <div class="container">
          <div class="about">
            <h1>About PSYKHE</h1>
            <p>
              PSYKHE is a Personalization-as-a-Service platform that uses psychology-powered AI to hyper-personalize
              entire product categories by taking the user's personality into account. Unlike generic product
              recommendation engines, using personality data as an added layer and anchor - in addition to interactions
              and purchase data - enables PSYKHE's models to behave human-like, and recommend across different categories
              that include fashion, home & furniture, beauty & grooming, and travel.
            </p>
          </div>
        </div>

       
        <div class="hero-boy">
          <div class="a">
            <p class="header">TRAVEL EXPERIENCE</p>
            <p>Joshua Tree</p>
          </div>
          <div class="b">
            <p class="header">LE LABO</p>
            <p>Vetiver 46</p>
            <p>$189.00</p>
          </div>
          <div class="c">
            <p class="header">NEW BALANCE</p>
            <p>x CASABLANCA</p>
            <p>XC-72</p>
            <p>$130.00</p>
          </div>
        </div>

        
        <div class="container">
          <div class="about">
            <h1>NEW-GENERATION TECHNOLOGY</h1>
            <h2>Enabling retailers to hyper-personalize</h2>
            <p>
              PSYKHE is the first-ever psychological Personalization Platform, providing AI-powered personalization that
              uses psychographic qualities to create a more human digital experience. Redefining the way people find and
              buy products online, PSYKHE makes it efficient, thrilling, and intuitive for shoppers to find and buy things
              they love, improving customer experience and driving revenue for brands and retailers.
            </p>
          </div>
        </div>

       
        <div class="phones">
          <div class="phones-inner">
            <div class="phones-image"></div>
            <div class="phones-text">
              <p>
                Customers are delighted by novelty and surprise, not by being bombarded by 10 visually similar items from
                mechanical output. Psychological merchandizing enables retailers to populate a fully personalized feed
                with a mix of intent-based recommendations in addition to many other items that our algorithms predict to
                be a match, resulting in significantly augmented cross and up-selling.
              </p>
            </div>
          </div>
        </div>

       
        <div class="container">
          <div class="about">
            <h1>MANIFESTO</h1>
            <h2>We're not just another SaaS company, we have a mission</h2>
            <p>
              We believe that style is simply our inside on our outside. Whether it's a hotel room, an interior space,
              clothes, fragrance, a car, or a travel destination, there's something about who we are that connects with
              the sensory input in front of us which creates that gut-level reaction that decides whether something feels
              right for us. This connection between human personality and aesthetic preference is why our AI models are
              feature-engineered with psychographic data. Scientific personality traits enable prediction that's far more
              powerful than looking at interactions and purchase history alone. This humanization of the online experience
              not only increases conversions for retailers, but in turn creates much happier customers who can easily find
              things in alignment with themselves, return less, and stay loyal.
            </p>
          </div>
        </div>

       
        <div class="hand">
          <div class="inner">
            <div class="image"></div>
            <div class="text">
              <p>
                When you merge visual AI, product intelligence, and psychology, you don't just show your customers what
                they're looking for. You show them things they didn't even know they needed.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <Footer />
  </div>
</Layout>

<style lang="scss">
@import '../styles/app.scss';

.about-page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.psykhe-landing {
  flex: 1;
}
</style>
