---
  
---

<footer class="main-footer">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="flex-1">
        <p class="footer-heading">PSYKHE AI</p>
        <a href="/about/">About</a>
        <a href="/big-5-personality-test/">Big 5 Personality Test</a>
        <a href="/terms-and-conditions/">Terms</a>
        <a href="/privacy-policy/">Data & Privacy Policy</a>
        <a href="/glossary/">Glossary</a>
        <a href="/#contact">Contact</a>
      </div>
      <div class="flex-1"></div>
      <div class="flex-1 social-footer">
        <a class="soc-icon icon-instagram" href="https://www.instagram.com/psykhe__ai/" target="_blank" rel="me"></a>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="flex-1 ft-back-to-top">
        <a onclick="window.scrollTo(0,0)">
          <img src="/media/icon/arrow_up.svg" alt="arrow-up" /> Back to top
        </a>
      </div>
    </div>
  </div>
</footer>